.loadMoreButton {
    position: absolute;
    bottom: 0;
    left: 45%;
    margin-bottom: 25px;
}

.logo {
    animation: spin 1s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}